section#features
  .container
    .row.feature-item
      .col-lg-6.wow.fadeInUp
        img.img-fluid(src='images/d11111.png', width="76%" alt='')
      .col-lg-6.wow.fadeInUp.pt-5.pt-lg-0
        h4 why Odoo ?
        p
          | Everything you need with a top-notch user experience.
        p 
          | The open source model of Odoo has allowed us to leverage thousands of developers and business experts to build hundreds of apps in just a few years.
        p
          | With a strong technical foundation, Odoo's framework is unique. It provides top notch usability that scales across all apps.
        
        p Usability improvements made to Odoo will be automatically applied to all of our fully integrated apps.

        p That way, Odoo evolves much faster than any other solution.
    .row.feature-item.mt-5.pt-5
      .col-lg-6.wow.fadeInUp.order-1.order-lg-2
        img.img-fluid(src='/images/edit.png', alt='' width="100%")
      .col-lg-6.wow.fadeInUp.pt-4.pt-lg-0.order-2.order-lg-1
        h4
          | What are geographic information systems (GIS)?
        p
          | Geographic information systems A geographical information system (GIS) is a computer system for capturing, storing, checking, integrating, manipulating, analyzing and displaying data related to positions on the Earth's surface
        h3 Analyze
        p
          |Geospatial/Statistical Analysis 
        h3 Create
        p
          | data administration.
        h3 Visualize
        p 
          | Cartography
        h3 Build
        p Application Development
