section#about
  .container
    .row
      .col-lg-5.col-md-6
        .about-img
          img(src='images/img5.jpeg', width="450px" alt='')
      .col-lg-7.col-md-6
        .about-content
          h2 About Us
          h3 "Go To Market Dynamics G2M “is a fast growing organization founded in 2017.
          p
            |focusing on bringing greater value to customers’ integrated solutions.
          p
            | as a solutions company that provides different types of services for its customers everywhere around the world. Company was established in Cairo, the capital of Egypt, it supports solutions in many fields. We deliver solutions to small, medium, and enterprise businesses.
          ul
            li
              i.ion-android-checkmark-circle
              |   Odoo Partners Ease of implementation of Odoo ERP Less time, higher quality.
            li
              i.ion-android-checkmark-circle
              |  CRM solutions,  customized solutions
            li
              i.ion-android-checkmark-circle
              |  mobile applications.
            li 
              i.ion-android-checkmark-circle
              |  routing solutions, marketing research and GIS solutions 

          h3 We are always open for new challenges.