section#features
  .container
    .row.feature-item
      .col-lg-6.wow.fadeInUp
        img.img-fluid(src='images/d11111.png', width="76%" alt='')
      .col-lg-6.wow.fadeInUp.pt-5.pt-lg-0
        h4 why Odoo ?
        p
          | Everything you need with a top-notch user experience.
        p 
          | The open source model of Odoo has allowed us to leverage thousands of developers and business experts to build hundreds of apps in just a few years.
        p
          | With a strong technical foundation, Odoo's framework is unique. It provides top notch usability that scales across all apps.
        
        p Usability improvements made to Odoo will be automatically applied to all of our fully integrated apps.

        p That way, Odoo evolves much faster than any other solution.
    .row.feature-item.mt-5.pt-5
      .col-lg-6.wow.fadeInUp.order-1.order-lg-2
        img.img-fluid(src='/images/edit.png', alt='' width="100%")
      .col-lg-6.wow.fadeInUp.pt-4.pt-lg-0.order-2.order-lg-1
        h4
          | Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.
        p
          | Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt.
        p
          | Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
        p
          | Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
