section#call-to-action.wow.fadeInUp
      .container
        .row
          .col-lg-9.text-center.text-lg-left(style="color: #ffffff;")
            h3.cta-title Doing The Right Thing at the Right Time
            .container
              .row.counters
                .col-lg-3.col-6.text-center
                  span(data-toggle='counter-up') 274
                  p Clients
                .col-lg-3.col-6.text-center
                  span(data-toggle='counter-up') 421
                  p Projects
                .col-lg-3.col-6.text-center
                  span(data-toggle='counter-up') 1,364
                  p Hours Of Support
                .col-lg-3.col-6.text-center
                  span(data-toggle='counter-up') 18
                  p Hard Workers
