section#testimonials
  .container
    header.section-header
      h3 Testimonials
    .row.justify-content-center
      .col-lg-8
        .owl-carousel.testimonials-carousel.wow.fadeInUp
          .testimonial-item
            img.testimonial-img(src='img/testimonial-1.jpg', alt='')
            h3 Saul Goodman
            h4 Ceo & Founder
            p
              | Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
          .testimonial-item
            img.testimonial-img(src='img/testimonial-2.jpg', alt='')
            h3 Sara Wilsson
            h4 Designer
            p
              | Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
          .testimonial-item
            img.testimonial-img(src='img/testimonial-3.jpg', alt='')
            h3 Jena Karlis
            h4 Store Owner
            p
              | Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
          .testimonial-item
            img.testimonial-img(src='img/testimonial-4.jpg', alt='')
            h3 Matt Brandon
            h4 Freelancer
            p
              | Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
