section#intro.clearfix
  .container.d-flex.h-100
    .row.justify-content-center.align-self-center
      .col-md-6.intro-info.order-md-first.order-last
        h2
          | G2M Solutions
          br
          | for Your 
          span Business!
        div
          a.btn-get-started.scrollto(href='#about') Get Started
          img.img-fluid(src='/images/odoo12.png', style="margin-left: 38px;" alt='')
          img.img-fluid(src='/images/oddo.png', alt='')
      .col-md-6.intro-img.order-md-last.order-first
        img.img-fluid(src='img/intro-img.svg', alt='' style="margin-top: 12px;")