doctype html
html
  head
    meta(charset='utf-8')
    title Gotomarketing
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(content='', name='keywords')
    meta(content='', name='description')
    link(href='/images/logo2.jpeg', rel='icon')
    link(href='/images/logo2.jpeg', rel='apple-touch-icon')
    block css
  body
    block content
    block js
