section#clients.wow.fadeInUp
  .container
    header.section-header
      h3 Our Clients
    .owl-carousel.clients-carousel
      img(src='/images/clients/image.2AO3F0.png', alt='')
      img(src='/images/clients/image.2HO7F0.png', alt='')
      img(src='/images/clients/image.2M0AG0.png', alt='')
      img(src='/images/clients/image.7QF2F0.png', alt='')
      img(src='/images/clients/image.9IYXF0.png', alt='')
      img(src='/images/clients/image.A2HVF0.PNG', alt='')
      img(src='/images/clients/image.CLN0F0.png', alt='')
      img(src='/images/clients/image.JA73F0.png', alt='')
      img(src='/images/clients/image.KBUWF0.png', alt='')
      img(src='/images/clients/image.TUVRF0.png', alt='')
      

