section#clients.wow.fadeInUp
  .container
    header.section-header
      h3 Our Partners
    .owl-carousel.clients-carousel
      img(src='/images/partner/part1.png', alt='')
      img(src='/images/partner/part2.png', alt='')
      img(src='/images/partner/part3.png', alt='')
      img(src='/images/partner/part4.png', alt='')
      img(src='/images/partner/part5.png', alt='')
      img(src='/images/partner/part6.PNG', alt='')
      img(src='/images/partner/part7.png', alt='')
      img(src='/images/partner/part8.png', alt='')
      img(src='/images/partner/part9.png', alt='')