section#pricing.wow.fadeInUp.section-bg
  .container
    header.section-header
      h3 Pricing
      p
        | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    .row.flex-items-xs-middle.flex-items-xs-center
      .col-xs-12.col-lg-4
        .card
          .card-header
            h3
              span.currency $
              | 19
              span.period /month
          .card-block
            h4.card-title
              | Basic Plan
            ul.list-group
              li.list-group-item Odio animi voluptates
              li.list-group-item Inventore quisquam et
              li.list-group-item Et perspiciatis suscipit
              li.list-group-item 24/7 Support System
            a.btn(href='#') Choose Plan
      .col-xs-12.col-lg-4
        .card
          .card-header
            h3
              span.currency $
              | 29
              span.period /month
          .card-block
            h4.card-title
              | Regular Plan
            ul.list-group
              li.list-group-item Odio animi voluptates
              li.list-group-item Inventore quisquam et
              li.list-group-item Et perspiciatis suscipit
              li.list-group-item 24/7 Support System
            a.btn(href='#') Choose Plan
      .col-xs-12.col-lg-4
        .card
          .card-header
            h3
              span.currency $
              | 39
              span.period /month
          .card-block
            h4.card-title
              | Premium Plan
            ul.list-group
              li.list-group-item Odio animi voluptates
              li.list-group-item Inventore quisquam et
              li.list-group-item Et perspiciatis suscipit
              li.list-group-item 24/7 Support System
            a.btn(href='#') Choose Plan
