section#services.section-bg
  .container
    header.section-header
      h3 Services
      p
        | 
    .row
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
        .box
          .icon(style='background: #fceef3;')
            i.fa.fa-database(style='color: #ff689b;')
          h4.title
            a(href='') ERP Implementation
          p.description
            | Odoo is an all-in-one management software that offers a range of business applications that form a complete suite of enterprise management applications. The Odoo solution is ideal for SMEs, but fits both small and large companies alike
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
        .box
          .icon(style='background: #fff0da;')
            i.fa.fa-desktop(style='color: #e98e06;')
          h4.title
            a(href='') CRM
          p.description
            | CRM systems are designed to compile information on customers across different channels or points of contact between the customer and the company which could include the company's website, telephone, live chat, direct mail, marketing materials and social media.
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #e6fdfc;')
            i.fa.fa-cogs(style='color: #3fcdc7;')
          h4.title
            a(href='') WorkForce Automation
          p.description
            | WorkForce Automation is a category of software and related services used to manage employees working outside the company premises;Such as Sales Force Automation SFA, Field Services Automation FSA , Warehouse Management System WMS and Assets Tracking System
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #eafde7;')
            i.fa.fa-mobile(style='color:#41cf2e;')
          h4.title
            a(href='') Mobile applications
          p.description
            | We Design and Develop applications with latest Technologies of android and ios plaforms for Enterprise Customers To support and integrate and to automate the full cycle of any Entrprise Solutions , serving the Operations ,HR ,Supply Chain , Sales and Marketing automations , POS and Restaurants Solutions
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #e1eeff;')
            i.fa.fa-thumb-tack(style='color: #2282ff;')
          h4.title
            a(href='') GIS solutions
          p.description
            | we are focusing on FMCG and distributions Industry ,services we are experts in are 1- Marketing Research which is to provide our customers with retail Census and Marketing Research . 2- Digital Routing digital and professional service creates better solutions, building geographically compact, logical, and balanced workloads
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #ecebff;')
            i.fa.fa-paint-brush(style='color: #8660fe;')
          h4.title
            a(href='') web applications
          p.description
            | creating innovative custom web applications that meet and exceed expectations. Our specialized custom web application development team offers the highest level of usability, scalability and complete compatibility in browsers and platforms. designed to fit into a framework of usability, performance .