section#services.section-bg
  .container
    header.section-header
      h3 Services
      p
        | Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.
    .row
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
        .box
          .icon(style='background: #fceef3;')
            i.ion-ios-analytics-outline(style='color: #ff689b;')
          h4.title
            a(href='') Lorem Ipsum
          p.description
            | Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-duration='1.4s')
        .box
          .icon(style='background: #fff0da;')
            i.ion-ios-bookmarks-outline(style='color: #e98e06;')
          h4.title
            a(href='') Dolor Sitema
          p.description
            | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #e6fdfc;')
            i.ion-ios-paper-outline(style='color: #3fcdc7;')
          h4.title
            a(href='') Sed ut perspiciatis
          p.description
            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #eafde7;')
            i.ion-ios-speedometer-outline(style='color:#41cf2e;')
          h4.title
            a(href='') Magni Dolores
          p.description
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #e1eeff;')
            i.ion-ios-world-outline(style='color: #2282ff;')
          h4.title
            a(href='') Nemo Enim
          p.description
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      .col-md-6.col-lg-4.wow.bounceInUp(data-wow-delay='0.2s', data-wow-duration='1.4s')
        .box
          .icon(style='background: #ecebff;')
            i.ion-ios-clock-outline(style='color: #8660fe;')
          h4.title
            a(href='') Eiusmod Tempor
          p.description
            | Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
