<section class="section-bg" id="portfolio">
  <div class="container">
    <header class="section-header">
      <h3 class="section-title">Our Portfolio</h3>
    </header>
    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li class="filter-active" data-filter="*">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">GIS</li>
          <li data-filter=".filter-web">Web</li>
          <li data-filter=".filter-erp">Odoo ERP</li>
        </ul>
      </div>
    </div>
    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/image.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">App 1</a></h4>
            <p>App</p>
            <div><a class="link-preview" href="/images/image.jpg" data-lightbox="portfolio" data-title="App 1" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-erb" data-wow-delay="0.1s">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/EERR.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">ERP</a></h4>
            <p>ERP</p>
            <div><a class="link-preview" href="/images/EERR.jpg" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
        <div class="portfolio-wrap"><img class="img-fluid" src="img/portfolio/web3.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">Web 3</a></h4>
            <p>Web</p>
            <div><a class="link-preview" href="img/portfolio/web3.jpg" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/images3.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">App 2</a></h4>
            <p>App</p>
            <div><a class="link-preview" href="/images/images3.jpg" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/gis2.png" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">GIS 2</a></h4>
            <p>GIS</p>
            <div><a class="link-preview" href="/images/gis2.png" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-erp">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/erp2.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">erp1</a></h4>
            <p>erp1</p>
            <div><a class="link-preview" href="/images/erp2.jpg" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-erp">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/EERR.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">erp2</a></h4>
            <p>erp2</p>
            <div><a class="link-preview" href="/images/EERR.jpg" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 portfolio-item filter-erp">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/erp3.gif" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">erp3</a></h4>
            <p>erp3</p>
            <div><a class="link-preview" href="/images/erp3.gif" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
        <div class="portfolio-wrap"><img class="img-fluid" src="img/portfolio/web2.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">Web 2</a></h4>
            <p>Web</p>
            <div><a class="link-preview" href="img/portfolio/web2.jpg" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/images.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">App 3</a></h4>
            <p>App</p>
            <div><a class="link-preview" href="/images/images.jpg" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/gis1.png" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">gis 1</a></h4>
            <p>GIS</p>
            <div><a class="link-preview" href="/images/gis1.png" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/gis3.png" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">GIS 3</a></h4>
            <p>GIS</p>
            <div><a class="link-preview" href="/images/gis3.png" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
        <div class="portfolio-wrap"><img class="img-fluid" src="/images/gis4.png" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">GIS 4</a></h4>
            <p> </p>GIS
            <div> <a class="link-preview" href="/images/gis4.png" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
        <div class="portfolio-wrap"><img class="img-fluid" src="img/portfolio/web1.jpg" alt="" />
          <div class="portfolio-info">
            <h4><a href="#">Web 1</a></h4>
            <p>Web</p>
            <div><a class="link-preview" href="img/portfolio/web1.jpg" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a><a class="link-details" href="#" title="More Details"><i class="ion ion-android-open"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>