section#why-us.wow.fadeIn
  .container-fluid
    header.section-header
      h3  What We Do?
      p
        | 
    .row
      .col-lg-6
        .why-us-img
           video(src="/video/video1.mp4" controls='' width="100%")
      .col-lg-6
        .why-us-img
           video(src="/video/video1.mp4"  width="100%" controls='')