section#why-us.wow.fadeIn
  .container-fluid
    header.section-header
      h3 Why choose us?
      p
        | Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.
    .row
      .col-lg-6
        .why-us-img
          img.img-fluid(src='img/why-us.jpg', alt='')
      .col-lg-6
        .why-us-content
          p
            | Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem impedit. Odio dolorum exercitationem est error omnis repudiandae ad dolorum sit.
          p
            | Explicabo repellendus quia labore. Non optio quo ea ut ratione et quaerat. Porro facilis deleniti porro consequatur
            | et temporibus. Labore est odio.
            | Odio omnis saepe qui. Veniam eaque ipsum. Ea quia voluptatum quis explicabo sed nihil repellat..
          .features.wow.bounceInUp.clearfix
            i.fa.fa-diamond(style='color: #f058dc;')
            h4 Corporis dolorem
            p
              | Commodi quia voluptatum. Est cupiditate voluptas quaerat officiis ex alias dignissimos et ipsum. Soluta at enim modi ut incidunt dolor et.
          .features.wow.bounceInUp.clearfix
            i.fa.fa-object-group(style='color: #ffb774;')
            h4 Eum ut aspernatur
            p
              | Molestias eius rerum iusto voluptas et ab cupiditate aut enim. Assumenda animi occaecati. Quo dolore fuga quasi autem aliquid ipsum odit. Perferendis doloremque iure nulla aut.
          .features.wow.bounceInUp.clearfix
            i.fa.fa-language(style='color: #589af1;')
            h4 Voluptates dolores
            p
              | Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur. Totam dolores ut enim ullam voluptas distinctio aut.
  .container
    .row.counters
      .col-lg-3.col-6.text-center
        span(data-toggle='counter-up') 274
        p Clients
      .col-lg-3.col-6.text-center
        span(data-toggle='counter-up') 421
        p Projects
      .col-lg-3.col-6.text-center
        span(data-toggle='counter-up') 1,364
        p Hours Of Support
      .col-lg-3.col-6.text-center
        span(data-toggle='counter-up') 18
        p Hard Workers
