section#why-us.wow.fadeIn
  .container-fluid
    header.section-header
      h3  What We Do?
      p
        | 
    .row
      .col-lg-6
        .why-us-img
          img.img-fluid(src='/images/image2.jpeg', alt='')
      .col-lg-6
        .why-us-content
          p
            |Go To Market Dynamics has built partnership with top technology providers. Through these partners, company expands the solutions and services that is provided for customers. 
          
          p
            | Business process management software that allows an organization to use a system of integrated applications.
            
          p
            | Content is accessible wherever and however you work and easily integrates with your other business applications.
            
          p
            | Lets us visualize, question, analyze, and interpret data to understand relationships, patterns, and trends.
          .features.wow.bounceInUp.clearfix
            
            p ✅ Odoo ERP ,  Magento ,  Moodle
            p ✅ ZOHO , Saga , Open EduCat
            p ✅ Esri , V tiger , NEWGEN
            p ✅ A geographic information system (GIS).
